<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="text-center"><%= current_user.username.titleize << "'s"|| "My" %> Todo List</h1>
    <p><%= link_to "Create a New Todo", new_task_path, class: "btn btn-small btn-primary" %></p>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <table class="table table-striped">
      <tr>
        <th>Description</th>
        <th width="15%">Days Left</th>
        <th width="15%">Completed?</th>
      </tr>
      <% @tasks.each do |task| %>
      <tr>
        <td><%= task.description %></td>
        <td>days left</td>
        <td><%= form_for task  do |f| %>
            <%= f.check_box :completed %>
            <%= f.submit "Go", class: "btn btn-xs", method: :update %>
        <% end %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
