<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="text-center"><%= current_user.username.titleize << "'s"|| "My" %> Todo List</h1>
    <p><%= link_to "Create a New Todo", new_task_path, class: "btn btn-small btn-primary" %></p>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <table class="table table-striped">
      <tr>
        <th>Description</th>
        <th width="15%">Days Left</th>
        <th width="15%">Completed?</th>
      </tr>
      <% @tasks.each do |task| %>
      <tr id="taskrow-<%= task.id %>">
        <td><%= task.description %></td>
        <td><%= task.days_remaining %> days left</td>
        <td><%= button_to 'X', {action: "update", id: task.id, task:{completed: true}}, method: :patch, remote: true, class: "btn btn-sm btn-success" %>
        </td>
      </tr>
      <% end %>
    </table>
    <div id="list-message"><%= @message %></div>
  </div>
</div>
